.user {
    text-align: center;
}

.user img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #efefef;
}

.user .hello {
    font-size: 30px;
    font-weight: bold;
}
.user .email {
    font-weight: bold;
}